annotated-types==0.7.0
anyio==4.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
deprecation==2.1.0
gotrue==2.5.4
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
jellyfish==1.0.4
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.1
pillow==10.4.0
postgrest==0.16.8
pycparser==2.22
pydantic==2.8.0
pydantic_core==2.20.0
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
realtime==1.0.6
six==1.16.0
sniffio==1.3.1
storage3==0.7.6
StrEnum==0.4.15
supabase==2.5.1
supafunc==0.4.6
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
websockets==12.0
