name: Build and Prettify on PR
on: pull_request_target

jobs:
    build:
        name: Build and Format
        runs-on: ubuntu-latest
        environment: Github

        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '19'

            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: 8

            - name: Install dependencies
              run: pnpm install

            # Build should succeed before running prettier.
            - name: Build project
              run: pnpm build
              env:
                GOOGLE_DRIVE_HANDOUTS_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_HANDOUTS_FOLDER_ID }}
                GOOGLE_DRIVE_PLACEMENT_CHRONICLES_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_PLACEMENT_CHRONICLES_FOLDER_ID }}
                GOOGLE_DRIVE_PS_CHRONICLES_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_PS_CHRONICLES_FOLDER_ID }}
                GOOGLE_DRIVE_PYQS_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_PYQS_FOLDER_ID }}
                GOOGLE_DRIVE_SI_CHRONICLES_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_SI_CHRONICLES_FOLDER_ID }}
                GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
                GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}

            - name: Run prettier
              run: pnpm format

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: 'style: format code with prettier'
                  branch: ${{ github.event.pull_request.head.ref }}
                  file_pattern: '!pnpm-lock.yaml'
